body { padding: 0; margin: 0 ; max-width: 100%; background: url('img/FrontPageImageBG.png') no-repeat center; background-color: black;}
/*#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { position: fixed; width: 100%; height: 100% }*/
#unity-canvas { background: #231F20 }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { /*width: 154px; height: 130px;*/ background: url('unity-logo-light.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative;  }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { /*float:left;*/ width: 200px; height: 38px; background: url('webgl-logo.png') no-repeat center; background-color: rgb(9, 170, 63); margin-left: 20px; margin-right: 1000px;}
#unity-build-title { /*float: right; margin-right: 10px; line-height: 38px;*/ font-family: arial; font-size: 18px; color: white; }
#unity-fullscreen-button { cursor:pointer; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
.large-header{color: white; font-family: 'Courier New', Courier, monospace;}
.instructions-container{border: 4px double #00ff00; padding: 10px; }
.paragraph-text{color: white; font-family: 'Courier New', Courier, monospace; font-size: large;}
.move-keys{display: inline-block;}
#header-row{margin-top: 30px; margin-bottom: 50px;}
.key-img{width: 64px; height: 64px;}
#credits-footer{border: 4px double #00ff00; padding: 10px; background-color: black; margin-top: 20px;}
#icon-links{color: white;}
#mid-footer{padding: 5px;}